<div>
  <div>
    <h1 class="sell-header">Sell A Product</h1>
  </div>
  <form class="sell-form">
  <label for="productName">Product Name</label>
  <input type="text" id="productName" name="productName">

  <label for="productName">Product Description</label>
  <input type="text" id="productName" name="productName">

  <label for="productName">Price</label>
  <input type="text" id="productName" name="productName">

  <label for="productName">Quantity</label>
  <input type="text" id="productName" name="productName">

  <button mat-flat-button class="custom-button">List Product</button>
  </form>
</div>
