.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: rgb(52, 50, 50);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 60px;
}

.slider-button.prev { 
    left: 10px; 
}
.slider-button.next { 
    right: 10px;
}
