.container {
    border-color: #ECE6F0;
    border-width: 1px;
    border-style: solid;
    background-color: #ECE6F0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 20rem;
    font-family: Arial, Helvetica, sans-serif;
}

.socials {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.about {
    margin-top: 1.5rem;
}

.contact {
    margin-top: 1.5rem;
}

.resources {
    margin-top: 1.5rem;
}

.logo {
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
}