<div class="container">
  <div class="socials">
    <fa-icon [icon]="faYoutube" style="font-size: 36px; margin-right: 10px;"></fa-icon>
    <fa-icon [icon]="faInstagram" style="font-size: 36px; margin-right: 10px;"></fa-icon>
    <fa-icon [icon]="faLinkedin" style="font-size: 36px; margin-right: 10px;"></fa-icon>
    <fa-icon [icon]="faXTwitter" style="font-size: 36px; margin-right: 10px;"></fa-icon>
    <h1 class="logo">U2U</h1>
  </div>
  <div class="about">
    <h3 style="font-weight: bold">About</h3>
    <p>about1</p>
    <p>about2</p>
  </div>
  <div class="contact">
    <h3 style="font-weight: bold">Contact Us</h3>
    <p>contact1</p>
    <p>contact2</p>
  </div>
  <div class="resources">
    <h3 style="font-weight: bold">Resources</h3>
    <p>resources1</p>
    <p>resources2</p>
  </div>
</div>
