<div>
    <div>
      <h1 class="reset-header">Reset Password</h1>
    </div>
    <div class="reset-card">
        <form class="reset-form">
            <label>Email</label>
            <input type="email" id="login-email" name="email">

            <label>New Password</label>
            <input type="password" id="password" name="password">

            <label>Confirm New Password</label>
            <input type="password" id="confirm-password" name="confirm-password">
        </form>
        <button mat-flat-button class="reset-button">Reset Password</button>
    </div>
</div>