<div>
    <div>
      <h1 class="reset-header">Reset Password</h1>
    </div>
    <div class="reset-card">
        <form class="reset-form" (ngSubmit)="sendEmailRequest(email, confirmEmail)">
            <label>Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email">

            <label>Confirm Email</label>
            <input type="email" id="confirm-email" name="confirmEmail" [(ngModel)]="confirmEmail">
            <button mat-flat-button class="reset-button" type="submit">Reset Password Request</button>
        </form>
    </div>
</div>