<header>
    <a href="#" style="text-decoration: none; color: inherit;">
    <div class="logo">U2U</div>
    </a>
    <div class="search">
      <input 
    type="text" 
    placeholder="Search here..." 
  />
      <span class="material-symbols-outlined" style="font-size: 32px; margin-left: auto; cursor: pointer">
        search
        </span>
    </div>
    <div class="profile-cart">
      <a href="profile" style="text-decoration: none; color: inherit;">
      <span class="material-symbols-outlined" style="font-size: 48px;">
        account_circle
        </span>
      </a>
      <a href="cart" style="text-decoration: none; color: inherit;">
        <span class="material-symbols-outlined" style="font-size: 48px;">
          shopping_cart
          </span>
        </a>
    </div>
  </header>
  <div class="navbar">
    <a href="login" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 32px;">
        explore_nearby
        </span>
      Explore</a>
    <a href="products" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 32px;">
        shopping_bag_speed
        </span>
      Buy</a>
    <a href="sell" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 32px;">
        sell
        </span>
      Sell</a>
    <a href="#" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 32px;">
        bookmark
        </span>
      Saved</a>
    <a href="#" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 32px;">
        notifications
        </span>
      Notifications</a>
  </div>
