<header>
  <a href="#" style="text-decoration: none; color: inherit">
    <div class="logo">U2U</div>
  </a>
  <div class="search">
    <input type="text" placeholder="Search for a product..." />
    <span
      class="material-symbols-outlined"
      style="font-size: 32px; margin-left: auto; cursor: pointer"
    >
      search
    </span>
  </div>
  <div class="profile-cart">
    <a href="profile" style="text-decoration: none; color: inherit" class="nav-item">
      <span class="material-symbols-outlined" style="font-size: 48px">
        account_circle
      </span>
      {{userName}}
    </a>
    <a href="cart" style="text-decoration: none; color: inherit">
      <span class="material-symbols-outlined" style="font-size: 48px">
        shopping_cart
      </span>
    </a>
  </div>
</header>
<div class="navbar">
  <a href="products" class="nav-item">
    <span class="material-symbols-outlined" style="font-size: 32px">
      shopping_bag_speed
    </span>
    Buy</a
  >
  <a href="sell" class="nav-item">
    <span class="material-symbols-outlined" style="font-size: 32px">
      sell
    </span>
    Sell</a
  >
  <a href="saved-items" class="nav-item">
    <span class="material-symbols-outlined" style="font-size: 32px">
      bookmark
    </span>
    Saved</a
  >
  <a href="notifications" class="nav-item">
    <span class="material-symbols-outlined" style="font-size: 32px">
      notifications
    </span>
    Notifications ({{notificationCount}})</a
  >
  <a *ngIf="!loggedIn" href="login" class="nav-item">
    <span class="material-symbols-outlined" style="font-size: 32px">
      login
    </span>
    Login</a
  >
  <button *ngIf="loggedIn" class="nav-item" (click)="logoutConfirmation()">
    <span class="material-symbols-outlined" style="font-size: 32px"
      >logout</span
    >
    Logout
  </button>
</div>
