<div>
    <div>
      <h1 class="change-password-header">Change Password Form</h1>
    </div>
    <form class="change-password-form" (ngSubmit)="sendPasswordChangeRequest(currentPassword, newPassword)" #form="ngForm">
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" style="width: 300px;" required>

    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" style="width: 300px;" required>
  
    <button mat-flat-button class="custom-button" type="submit">Change Password</button>
    </form>
  </div>