<div>
    <div>
      <h1 class="change-password-header">Change Password Form</h1>
    </div>
    <form class="change-password-form" encType="multipart/form-data" method="POST">
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" style="width: 300px;">

    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" style="width: 300px;">
  
    <button mat-flat-button class="custom-button" (click)="sendPasswordChangeRequest(currentPassword, newPassword)">Reset Password</button>
    </form>
  </div>
  