<div>
    <h1 class="profile-header">Profile</h1>
    <div class="small-cards">
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            key
            </span>
          <div class="content">
            <h1>Change Password</h1>
          </div>
        </div>
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            email
            </span>
          <div class="content">
            <h1>Change Email</h1>
          </div>
        </div>
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            person
            </span>
          <div class="content">
            <h1>Change Avatar</h1>
          </div>
        </div>
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            bookmark
            </span>
          <div class="content">
            <h1>Saved Items</h1>
          </div>
        </div>
      </div>
      <div class="small-cards">
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            payments
            </span>
          <div class="content">
            <h1>Sold Items</h1>
          </div>
        </div>
        <div class="small-card-item">
          <span class="material-symbols-outlined" style="font-size: 64px;">
            currency_exchange
            </span>
            <div class="content">
              <h1>Bought Items</h1>
            </div>
          </div>
          <div class="small-card-item">
            <span class="material-symbols-outlined" style="font-size: 64px;">
              view_list
              </span>
            <div class="content">
              <h1>My Listings</h1>
            </div>
          </div>
          <div class="small-card-item">
            <span class="material-symbols-outlined" style="font-size: 64px;">
              business_messages
              </span>
            <div class="content">
              <h1>Direct Messages</h1>
            </div>
          </div>
        </div>
</div>
