<div class="products-container">
    <h1 class="products-header">Your Listings</h1>
    <div *ngFor="let product of userProducts" class="products-card">
        <div class="products-card-item">
            <img
            src="https://placehold.co/200x200"
            alt="Product Image"
            class="products-card-image"
          />
          <div class="text-content">
            <h1 style="margin-top: 1rem">{{ product.title }}</h1>
            Description: <p>{{ product.description }}</p>
            Seller: <p>{{ product.sellerName }}</p>
            Category: <p>{{ product.category }}</p>
            Unit Price: <p>{{product.price}}</p>
            Quantity: <p>{{product.quantity}}</p>
            Image URLs: {{product.imageUrls}}
          </div>
          <div class="button-container">
          <button mat-flat-button class="custom-button-del" (click)="handleDeletion(product)">Delete Product</button>
          <button mat-flat-button class="custom-button" [routerLink]="['/update-product', product.productId]">Edit Product</button>
          </div>
        </div>
    </div>
</div>
