.big-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 1rem;
}

.big-deal-item {
    border-color: #ECE6F0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    width: 50rem;
    height: 40rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    
}

.product-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.big-product-image {
    width: 48rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.content {
    margin-left: 1.5rem;
}

.custom-button {
    background-color: #ECE6F0 !important; 
    transition: background-color 1s;
    width: 10rem; 
    height: 3rem; 
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;
    border: 1px solid black;
}

.custom-button:hover {
    background-color: #D6CFDB;
}

.quantity {
    width: 4rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #ECE6F0;
    font-weight: bold;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }

