<div>
  <div *ngIf="product">
    <h1 class="product-header">{{ product.title }}</h1>
  </div>
  <div *ngIf="product" class="big-deals">
    <div class="big-deal-item">
      <app-image-slider [images]="product.imageUrls" height="300px"/>
      <div class="content">
        <h2 style="font-weight: bold;">{{ product.title }}</h2>
        <p><b>Description: </b>{{ product.description }}</p>
        <p><b>Price:</b>£{{ product.price }}</p>
        <p> <b>Quantity:</b> {{ product.quantity }} </p>
        <p> <b>Seller:</b> {{ product.sellerName }}         
        <a [routerLink]="['/messages', product.sellerId]" style="text-decoration: none;">
        (Contact Seller)
        </a></p>
        <p> <b>Category:</b> {{ product.category }} </p>
        <p><b>Condition:</b> {{ product.condition }}</p>
        <p> <b>Returns Allowed:</b> {{product.allowReturns == true ? "Yes" : "No"}} </p>
      </div>
      <div class="quantity-container">
        <button mat-icon-button color="primary" (click)="decrement()">
          <mat-icon style="font-size: 20px;">remove</mat-icon>
        </button>
          <input matInput type="number" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange($event)" [min]="1"
          [max]="product.quantity" class="quantity">
        <button mat-icon-button color="primary" (click)="increment()">
          <mat-icon style="font-size: 20px;">add</mat-icon>
        </button>
      </div>
      <div class="button-wrapper">
      <button mat-flat-button class="custom-button" (click)="handleSavedItem(product)">Save Item</button>
      <button mat-flat-button class="custom-button" (click)="handleAddToCart(product, quantity)">Add To Cart</button>
      </div>
      {{productError}}
    </div>
  </div>
</div>
