<div>
    <h1 class="heading">Products</h1>
    <div class="search-div">
    <div class="search">
        <input 
      type="text" 
      placeholder="Search here..." 
    />
        <span class="material-symbols-outlined" style="font-size: 32px; margin-left: auto; cursor: pointer">
          search
          </span>
      </div>
    </div>
      <div class="small-deals">
        <div class="small-deal-item">
          <img src="https://placehold.co/200x200" alt="Product Image" class="small-product-image">
          <div class="content">
              <h3>Text</h3>
              <p><strong>£50</strong></p>
          </div>
        </div>
        <div class="small-deal-item">
          <img src="https://placehold.co/200x200" alt="Product Image" class="small-product-image">
          <div class="content">
              <h3>Text</h3>
              <p><strong>£50</strong></p>
          </div>
        </div>
        <div class="small-deal-item">
          <img src="https://placehold.co/200x200" alt="Product Image" class="small-product-image">
          <div class="content">
              <h3>Text</h3>
              <p><strong>£50</strong></p>
          </div>
        </div>
        <div class="small-deal-item">
          <img src="https://placehold.co/200x200" alt="Product Image" class="small-product-image">
          <div class="content">
              <h3>Text</h3>
              <p><strong>£50</strong></p>
          </div>
        </div>
</div>