<div class="saved-item-container">
    <h1 class="saved-item-header">Saved Items</h1>
    <div *ngFor="let savedItem of savedItems" class="saved-item-card">
      <div class="saved-item-card-item">
        <div class="saved-item-image-wrapper">
          <app-image-slider [images]="savedItem.imageUrls" height="200px" class="saved-item-image"/>
        </div>
        <a [routerLink]="['/product', savedItem.productId]" style="text-decoration: none; color: inherit;">
          <div class="text-content">
            <h1 style="margin-top: 1rem">{{ savedItem.title}}</h1>
            <p>Description: {{ savedItem.description }}</p>
            <p>Seller: {{ savedItem.sellerName }}</p>
            <p>Category: {{ savedItem.category }}</p>
          </div>
        </a>
        <h2 style="margin-left: auto; margin-right: 2rem;">Unit Price: £{{savedItem.price}}</h2>
        </div>
    <div style="display: flex; align-items: center;">
    <button mat-flat-button class="custom-button" (click)="handleDeleteSavedItem(savedItem.productId)">Delete Saved Item</button>
    </div>
    </div>
</div>
