.saved-item-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  align-self: center;
}

.saved-item-card {
  width: 80%;
  padding: 1rem;
  max-width: 80%;
  border-color: #ece6f0;
  align-self: center;
}

.saved-item-card-item {
  border-color: #ece6f0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
}

.saved-item-card-image {
  width: 24rem;
  height: 10rem;
  object-fit: cover;
  flex-shrink: 0;
  padding: 1rem;
  align-items: center;
  border-radius: 1.5rem;
}

.saved-item-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.total-price {
  margin-left: auto;
  margin-right: 12rem;
}

.custom-button {
  background-color: #ece6f0 !important;
  transition: background-color 1s;
  width: 12rem;
  height: 3rem;
  align-self: flex-end;
  margin-left: auto;
  margin-top: 0.5rem;
  border: 1px solid #ece6f0;
  border-radius: 1rem;
}

.custom-button:hover,
.custom-button-del:hover {
  background-color: #d6cfdb;
}

.custom-button-del {
  background-color: #ece6f0 !important;
  transition: background-color 1s;
  width: 10rem;
  height: 2rem;
  align-self: flex-end;
  margin-top: 0.5rem;
  border: 1px solid #ece6f0;
  border-radius: 1rem;
}

.quantity {
  width: 4rem;
  height: 2rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #ece6f0;
  font-weight: bold;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.saved-item-image-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.saved-item-image {
  flex: 0 0 20rem;
  display: block;
}

:host ::ng-deep app-image-slider.saved-item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
