<div class="messages-container">
  <h1 class="messages-header">Direct Messages</h1>
  <div class="messages-card">
    <a
      [routerLink]="['/messages', conversation.senderId === userId ? conversation.receiverId : conversation.senderId]"
      style="text-decoration: none; color: inherit"
      *ngFor="let conversation of conversations"
      class="messages-card-item"
    >
      <div class="text-content">
        <h2>User: 
          {{ conversation.senderId === userId ? conversation.receiverUsername : conversation.senderUsername }}</h2>
        <hr/>
        <br/>
        <i>Last Message:</i>
        <br/>
        {{ conversation.content }}
        <br/>
        <br/>
        <hr/>
        <i>Sent at: {{ conversation.sentTime | date: 'HH:mm - dd/MM/yyyy' }}</i>
      </div>
    </a>
  </div>
</div>
