<div class="order-container">
    <h1 class="order-header">Orders</h1>
    <div *ngFor="let order of orders" class="order-card">
        <div class="order-card-item">
            <img
            src="https://placehold.co/200x200"
            alt="Product Image"
            class="order-card-image"
          />
          <div class="text-content">
            <p><b>Delivery Address:</b> {{ order.address }}</p>
            <p><b>Order Date:</b> {{ order.date | date: 'HH:mm - dd/MM/yyyy'}}</p>
            <p><b>Order Status:</b> {{ order.status }}</p>
            <p><b>Order Total Price:</b> £{{ order.totalPrice }}</p>
            <div *ngFor="let item of order.orderItems">
                <p>Title: {{item.productTitle}}</p>
                <p>Category: {{ item.productCategory}}</p>
                <p>Description: {{ item.productDescription}}</p>
                <p>Seller Name: {{item.productSellerName}}</p>
                <p>Price: {{item.price}}</p>
                <p>Total Price: {{item.totalPrice}}</p>
                <p>Quantity: {{item.quantity}}</p>
            </div>
          </div>
        </div>
    </div>
</div>
