<div class="order-container">
  <h1 class="order-header">Orders</h1>
  <div *ngFor="let order of orders" class="order-card">
    <div class="order-card-item">
      <div class="text-content">
        <p><b>Delivery Address:</b> {{ order.address }}</p>
        <p><b>Order Date:</b> {{ order.date | date : "HH:mm - dd/MM/yyyy" }}</p>
        <p><b>Order Status:</b> {{ order.status }}</p>
        <p><b>Order Total Price:</b> £{{ order.totalPrice }}</p>

        <div class="item-row" *ngFor="let item of order.orderItems">
          <app-image-slider class="item-images" [images]="item.imageUrls ?? []" height="200px"/>
          <table class="item-table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Seller Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ item.productTitle }}</td>
                <td>{{ item.productCategory }}</td>
                <td>{{ item.productDescription }}</td>
                <td>£{{ item.price }}</td>
                <td>£{{ item.quantity }}</td>
                <td>£{{ item.totalPrice }}</td>
                <td>
                  {{ item.productSellerName }}
                  <a
                    [routerLink]="['/messages', item.productSellerId]"
                    style="text-decoration: none"
                  >
                    (Contact Seller)
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
