<div>
  <div>
    <h1 class="deal-header">Daily Deals</h1>
  </div>
  <div class="big-deals">
    <div class="big-deal-item" *ngFor="let deal of bigDealsOfTheDay">
      <a
        [routerLink]="['/product', deal.productId]"
        style="text-decoration: none; color: inherit"
      >
        <img
          src="https://placehold.co/200x200"
          alt="Product Image"
          class="big-product-image"
        />
        <div class="content">
          <h3>{{ deal.title }}</h3>
          <p>{{ deal.description }}</p>
          <p>
            <strong>£{{ deal.price }}</strong>
          </p>
          <p>Quantity: {{ deal.quantity }}</p>
          <p><b>Seller:</b> {{ deal.sellerName }}</p>
          <p>Category: {{ deal.category }}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="small-deals">
    <div class="small-deal-item" *ngFor="let deal of smallDealsOfTheDay">
      <a
        [routerLink]="['/product', deal.productId]"
        style="text-decoration: none; color: inherit"
      >
        <img
          src="https://placehold.co/200x200"
          alt="Product Image"
          class="small-product-image"
        />
        <div class="content">
          <h3>{{ deal.title }}</h3>
          <p>{{ deal.description }}</p>
          <p>
            <strong>£{{ deal.price }}</strong>
          </p>
          <p>Quantity: {{ deal.quantity }}</p>
          <p><b>Seller:</b> {{ deal.sellerName }}</p>
          <p>Category: {{ deal.category }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
