<div class="sold-items-container">
    <h1 class="sold-items-header">Sold Items</h1>
    <div *ngFor="let soldItem of soldItems" class="sold-items-card">
        <div class="sold-items-card-item">
          <table class="item-table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Buyer Name</th>
                <th>Buyer Address</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Order ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ soldItem.title }}</td>
                <td>{{ soldItem.category }}</td>
                <td>{{ soldItem.description }}</td>
                <td>£{{soldItem.price}}</td>
                <td>{{soldItem.quantity}}</td>
                <td>£{{soldItem.totalPrice}}</td>
                <td>
                  {{soldItem.buyerName}}
                </td>
                <td>{{soldItem.address}}</td>
                <td>{{ soldItem.orderDate | date : "HH:mm - dd/MM/yyyy" }}</td>
                <td>{{soldItem.status}}</td>
                <td>{{soldItem.productId}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
