.sold-items-header { 
    margin-top: 2rem;  
    margin-bottom: 2rem;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    align-self: center;
}

.sold-items-card {
    width: 100%;
    padding: 1rem;
    max-width: 90%;
    border-color: #ECE6F0;
    align-self: center;
}

.sold-items-card-item {
    border-color: #ECE6F0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sold-items-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.custom-button {
    background-color: #ECE6F0 !important; 
    transition: background-color 1s;
    width: 10rem; 
    height: 3rem; 
    align-self: flex-end;
    margin-right: 12rem;
    margin-bottom: 1rem;
    margin-top: auto;
    border: 1px solid #ECE6F0;
    border-radius: 1rem;
}

.custom-button:hover, .custom-button-del:hover {
    background-color: #D6CFDB;
}

.custom-button-del {
    background-color: #ECE6F0 !important; 
    transition: background-color 1s;
    width: 10rem; 
    height: 2rem; 
    align-self: flex-end;
    margin-top: 0.5rem;
    border: 1px solid #ECE6F0;
    border-radius: 1rem;
}

.item-table {
  flex: 1 1 0;
  min-width: 0;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid black;
  padding: 1rem;
  table-layout: fixed;
}

.item-table th,
.item-table td {
  padding: 16px 32px; 
  white-space: normal;     
  overflow-wrap: anywhere;   
  hyphens: auto; 
}