<div class="checkout-container">
    <h1 class="checkout-header">Checkout</h1>
    <div class="checkout-card">
        <div class="checkout-card-item">
          <div class="text-content">
          </div>
          <form (ngSubmit)="pay()">
            <label>Address:</label>
            <input [(ngModel)]="address" type="text" id="address" name="address">
          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions">
          </ngx-stripe-card>
          <button type="submit">
            Complete Order
          </button>
        </form>
    </div>
    <button mat-flat-button class="custom-button">Order</button>
</div>
