<div class="checkout-container">
    <h1 class="checkout-header">Checkout</h1>
    <div class="checkout-card">
        <div class="checkout-card-item">
          <div class="text-content">
          </div>
          <form (ngSubmit)="pay()">
            <div class="form-field">
            <label>House Number/Building Name:</label>
            <input [(ngModel)]="houseNumber" type="text" id="houseNumber" name="houseNumber" required>
            </div>

            <div class="form-field">
            <label>Street:</label>
            <input [(ngModel)]="street" type="text" id="street" name="street" required>
            </div>

            <div class="form-field">
            <label>Post Code:</label>
            <input [(ngModel)]="postCode" type="text" id="postCode" name="postCode" required>
            </div>

          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions">
          </ngx-stripe-card>
          <button mat-flat-button class="custom-button" type="submit">Complete Order</button>
        </form>
    </div>
</div>
