<div class="checkout-container">
    <h1 class="checkout-header">Checkout</h1>
    <div class="checkout-card">
        <div class="checkout-card-item">
          <form (ngSubmit)="pay()">
            <div class="form-field">
            <label>House Number/Building Name:</label>
            <input [(ngModel)]="houseNumber" type="text" id="houseNumber" name="houseNumber" required>
            </div>

            <div class="form-field">
            <label>Street:</label>
            <input [(ngModel)]="street" type="text" id="street" name="street" required>
            </div>

            <div class="form-field">
            <label>Post Code:</label>
            <input [(ngModel)]="postCode" type="text" id="postCode" name="postCode" required>
            </div>
            <label style="margin-bottom:8px;">Payment Details:</label>
          <div class="payment-card-container">
          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions">
          </ngx-stripe-card>
          </div>
          <button mat-flat-button class="custom-button" type="submit">Complete Order</button>
          {{paymentError}}
        </form>
        <h2 class="total-price">Order Total: £{{ userCart?.totalPrice }}</h2>
    </div>
    <div *ngFor="let cartItem of userCart?.items" class="preview-card">
        <div class="preview-card-item">
            <img
            src="https://placehold.co/200x200"
            alt="Product Image"
            class="preview-card-image"
          />
          <div class="text-content">
            <h2 style="margin-top: 1rem">{{ cartItem.productName}}</h2>
            <p><b>Unit Price:</b> £{{ cartItem.price }}</p>
            <p><b>Description:</b> {{ cartItem.description }}</p>
            <p><b>Seller:</b> {{ cartItem.sellerName }} <a
                    [routerLink]="['/messages', cartItem.sellerId]"
                    style="text-decoration: none"
                  >(Contact seller)</a></p>
            <p><b>Category:</b> {{ cartItem.category }}</p>
            <div class="quantity-container">
              <button mat-icon-button color="primary" (click)="decrement(cartItem)">
                <mat-icon style="font-size: 20px;">remove</mat-icon>
              </button>
                <input matInput type="number" [(ngModel)]="cartItem.quantity" (blur)="onQuantityChange(cartItem, previousQuantities[cartItem.cartItemId])" (focus)="previousQuantities[cartItem.cartItemId] = cartItem.quantity" [ngModelOptions]="{ standalone: true }"class="quantity">
              <button mat-icon-button color="primary" (click)="increment(cartItem)">
                <mat-icon style="font-size: 20px;">add</mat-icon>
              </button>
            </div>
            <button mat-flat-button class="custom-button-del" (click)="handleDeletion(cartItem)">Delete Item</button>
          </div>
          <h2 style="margin-top: 1rem; margin-left: auto; margin-right: 2rem;">Total Price: £{{cartItem.totalPrice}}</h2>
        </div>
    </div>
</div>
