<div>
    <div>
      <h1 class="login-header">Login/Register</h1>
    </div>
    <div class="buttons">
        <button (click)="showLogin()" type="button" mat-flat-button class="top-buttons" [ngClass]="{'active-button': activeTab === 'login'}">Login</button>
        <button (click)="showRegister()" type="button" mat-flat-button class="top-buttons" [ngClass]="{'active-button': activeTab === 'register'}">Register</button>
    </div>
    <div *ngIf="activeTab === 'login'" class="login-card">
        <form (ngSubmit)="login()" class="login-form">
            <label>Username</label>
            <input [(ngModel)]="userName" type="text" id="login-username" name="userName" placeholder="Username" required>

            <label>Password</label>
            <input [(ngModel)]="password" type="password" id="login-password" name="password" placeholder="Password" required>
            <button mat-flat-button class="login-button" type="submit">Login</button>
        </form>
        <a href="reset-password" style="margin-top: 1rem;">Forgot password?</a>
        <div *ngIf="loginError">{{ loginError }}</div>
    </div>

    <div *ngIf="activeTab === 'register'" class="register-card">
        <form (ngSubmit)="register()" class="register-form">
            <label>Email</label>
            <input [(ngModel)]="email" type="email" id="register-email" name="register-email">

            <label>Username</label>
            <input [(ngModel)]="userName" (ngModelChange)="onUsernameInput($event)" type="text" id="register-username" name="register-username">

            <div *ngIf="usernameAvailable === false" class="text-red-500">
            Username is already taken.
            </div>

            <div *ngIf="usernameAvailable === true" class="text-green-500">
            Username is available.
            </div>

            <label>Password</label>
            <input [(ngModel)]="password" type="password" id="register-password" name="register-password">

            <label>Confirm Password</label>
            <input [(ngModel)]="confirmPassword" type="password" id="confirm-password" name="confirm-password">
            <button mat-flat-button class="login-button" type="button" type="submit">Register</button>
            <div *ngIf="registerErrors">
                <div *ngFor="let error of registerErrors">
                    {{ error }} 
                </div>
            </div>
        </form>
    </div>

</div>