<div>
  <header>
    <div class="logo"><h1>U2U</h1></div>
    <div class="search">SEARCH BAR</div>
    <div class="profile-cart">
      <span class="material-symbols-outlined" style="font-size: 48px;">
        account_circle
        </span>
        <span class="material-symbols-outlined" style="font-size: 48px;">
          shopping_cart
          </span>
    </div>
  </header>
  <div class="navbar">
    <a href="#" class="nav-item">Explore</a>
    <a href="#" class="nav-item">Buy</a>
    <a href="#" class="nav-item">Sell</a>
    <a href="#" class="nav-item">Saved</a>
    <a href="#" class="nav-item">Notifications</a>
  </div>
  <div class="big-deals">
    <div class="big-deal-item">ONE</div>
    <div class="big-deal-item">TWO</div>
  </div>
  <div class="small-deals">
    <div class="small-deal-item">ONE</div>
    <div class="small-deal-item">TWO</div>
    <div class="small-deal-item">THREE</div>
    <div class="small-deal-item">FOUR</div>
  </div>
</div>
