header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 6rem;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    background-color: #ECE6F0;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 60rem;
    width: 100%;
    height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
  }

.navbar {
    width: 100vw;
    background-color: #ECE6F0;
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: bold;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: filter 0.3s ease;
    font-weight: bold;
    gap: 4px;
}

.nav-item:hover, .search:hover, .big-deal-item:hover, .small-deal-item:hover {
    background-color: #D6CFDB;
}

.profile-cart {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 1rem;
}

.big-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 1rem;
}

.big-deal-item {
    border-color: #ECE6F0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    width: 50rem;
    height: 25rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.small-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 1rem;
}

.small-deal-item {
    border-color: #ECE6F0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    width: 50rem;
    height: 20rem;
    margin-right: 1rem;
}

.logo {
    margin-left: 5rem;
    font-size: 2rem;
}

.deal-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.big-product-image {
    width: 48rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.small-product-image {
    width: 24rem;
    height: 10rem;
    object-fit: cover;
    flex-shrink: 0;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.content {
    margin-left: 1.5rem;
}